PORT=5001
NODE_ENV=development
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&channel_binding=require"
JWT_SECRET="your_jwt_secret_here"
ENCRYPTION_KEY="your_encryption_key_here"
SUPER_ADMIN_USERNAME=admin_username
SUPER_ADMIN_PASSWORD=admin_password
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
DEFAULT_SUBSCRIPTION_AMOUNT=7999
META_API_VERSION=v18.0
META_APP_ID=your_meta_app_id_here
META_APP_SECRET=your_meta_app_secret_here

# AWS Configuration (SES & S3)
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=us-east-1
AWS_FROM_EMAIL=noreply@yourdomain.com
AWS_S3_BUCKET=your_s3_bucket_name_here
NVIDIA_API_KEY=your_nvidia_api_key
APP_NAME=DoConnect
