PORT=5001
NODE_ENV=development
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&channel_binding=require"
JWT_SECRET="your_jwt_secret_here"
ENCRYPTION_KEY="your_encryption_key_here"
SUPER_ADMIN_USERNAME=admin_username
SUPER_ADMIN_PASSWORD=admin_password
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
DEFAULT_SUBSCRIPTION_AMOUNT=7999
META_API_VERSION=v18.0
META_APP_ID=your_meta_app_id_here
META_APP_SECRET=your_meta_app_secret_here
